  <div class="jumbotron">
    <h1> Bother Me! </h1>
    <div class="row" style="padding: 20px;">
      <% if (loggedIn) {%>
        <a class="btn btn-primary" href="/reminder/list">See your reminders</a>
        <a class="btn btn-primary" href="/reminder/create">Set a new reminder </a>
      <% } %>
      </div>
  </div>